*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --margin: 10px;
  --iconGap: 1.5rem
}

html {
  box-sizing: border-box;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: var(--margin);
}

body {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0;
  grid-template-columns: repeat(2, 15% 90%);
  flex-shrink: 0;
}

/* SIDEBAR-------------------------------------- */

.sidebar-grid {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-rows: repeat(3, 10% 45% 45%);
  height: 100vh;

}

.sidebar-top {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 5px;;
  font-size: xx-large;
  font-weight:bold;
}

.logo {
  max-width: 40px;
  flex-shrink: 0;
}

.sidebar-middle {
  display: grid;
  gap: 1rem;
  padding: 0 0 0 5px;
}

.tag {
  display: flex;
  align-items: center;
  gap: var(--iconGap);
}

.sidebar-bottom {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  padding: 30vh 0 10vh 5px;
  justify-content: space-between;
  bottom: var(--margin)
}

.sidebar-bottom .icon{
  min-height: 3rem;
}

li {
  list-style-type: none;
}

li.side-icon {
  display: flex;
  padding: 0 5px;
  width: 100%;
  
}

li.side-icon:hover{
  cursor: pointer;
  background-color: rgb(168, 168, 168);
  border-radius: 8px;
  color: white;

}

/* Main-------------------------------------- */

.main{
  display: grid;
  grid-template-rows: repeat(3, 10% 80% 10%);
}

.main .header{
  display: grid;
  grid-template-columns: repeat(2, 70% 30%);
  align-items: center;
}

.main .overview{
  font-size: larger;
}
