*,
*::after,
*::before {
   box-sizing: border-box;
}


:root {
  --margin: 10px;
  --iconGap: 1.5rem
}

html {
  box-sizing: border-box;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: var(--margin);

}

body {
  display: grid;
  grid-template-columns: clamp(220px, 25%, 280px) 1fr;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* SIDEBAR-------------------------------------- */

.sidebar-grid {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-rows: repeat(3, 10% 45% 45%);
  height: 100vh;

}

.sidebar-top {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 5px;;
  font-size: xx-large;
  font-weight:bold;
}

.logo {
  max-width: 40px;
  flex-shrink: 0;
}

.sidebar-middle {
  display: grid;
  gap: 1rem;
  padding: 0 0 0 5px;
}

.tag {
  display: flex;
  align-items: center;
  gap: var(--iconGap);
}

.sidebar-bottom {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  padding: 30vh 0 10vh 5px;
  justify-content: space-between;
  bottom: var(--margin)
}

.sidebar-bottom .icon{
  min-height: 3rem;
}

li {
  list-style-type: none;
}

li.side-icon {
  display: flex;
  padding: 0 5px;
  width: 100%;
  
}

li.side-icon:hover{
  cursor: pointer;
  background-color: rgb(168, 168, 168);
  border-radius: 8px;
  color: white;

}

/* Main-------------------------------------- */
.main{
  display: grid;
  grid-template-rows: repeat(3, 10% 80% 10%);
  min-width: fit-content;
  max-height: 100%;
  margin:10px;
}

/* CONTENT----------------------------------- */
.main .content{
  display: grid;
  grid-row: 2;
  width: 100%;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto)
  
}

.info-card-container{
  grid-row: 1;
  grid-column: 1 / -2;

}

.main .info-cards{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  /* padding: 10px 10px; */
}

.info-cards .info-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  border: solid;
  gap: 8px;
  
}

/* TREND CONTAINER------------------------ */

.trend-container{
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  border: solid;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}



.trendline img{
  object-fit: contain;

}

.data-container{
  background-color: red;
  grid-column: 2;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
}

.data-item{
  border: solid;
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;
}

/* HEADER------------------------------------ */
.header{
  display: grid;
  grid-row: 1;
  grid-template-columns: repeat(2, 70% 30%);
  align-items: center;
}

.overview{
  display: grid;
  grid-column: 1;
  grid-template-columns: repeat(2, 90%, 10%);
  align-items: center;
  
}

.header h1{
  grid-column: 1;
}

.search{
  grid-column: 2;
  display: flex;
  gap: 1rem;
  margin: 0 1rem 0 0;
  justify-content: right;
  
}

.profile{
  display: flex;
  grid-column: 2;
  align-items: center;
  gap: 1rem ;
}



